@model SıstemTicket.Areas.Admin.Models.DTO.BirimVM
<div class="box box-primary">

    <!-- form start -->

    @using (Html.BeginForm())
    {

        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(x => x.BirimAdi)
                @Html.TextBoxFor(x => x.BirimAdi, new { @class = "form-control", @placeholder = "Birim Adı" })
                @Html.ValidationMessageFor(x => x.BirimAdi)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Aciklamasi)
                @Html.TextAreaFor(x => x.Aciklamasi, new { @class = "form-control", @placeholder = "Açıklama" })
            </div>

        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Kayıt</button>
        </div>
    }

</div>

